*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 90%;
    margin: auto;
}
:root{
    --main-color:#2D25A0;
    --btn-bg-color:#E02C6D;
    --btn-text-color:#fff;
}

/* Reusable Style */

h1 {
    font-size: 70px;
}
p{
    color: #6C6C6C;
    font-size: 16px;
}
.flexible{
    display: flex;
}
.horizontal-center{
    justify-content: center;
}
.vertical-center{
    align-items: center;
}
img{
    width: 100%;
}
.half-width{
    width: 50%;
}
.btn-style{
    background:var(--btn-bg-color);
    color:var(--btn-text-color);
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}

/* ------------------------- */
/* Header Section Style */

#header {
    background: var(--main-color);
    color: #fff;
    padding: 4em 0;
}
header section:nth-child(2) img{
    width: 90%;
}

/* ------------------------- */
/* Player Section Style */

.player-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    padding: 5rem 0;
}
.player-section > article {
    padding: 10px 15px;
    text-align: justify;
    background: #fff;
    box-shadow: 1px 1px 14px -5px #000000;
    border-radius: 3px;
}
.player-section > article > img {
    width:100%;
}
.player-section > article > h2 {
    padding: 1rem 0;
}

/* ------------------------- */
/* Highlights Section Style */

.highlight-section {
    justify-content: space-between;
    padding: 5rem 0;
}
.highlight-section > article{
    width: 45%;
}
.highlight-section > article > h2 {
    font-size: 50px;
}
.highlight-section > article > a {
    margin-top: 1.5em;
}

/* ------------------------- */
/* Gallery Section Style */
.section-title > hr {
    width: 3px;
    height: 75px;
    position: absolute;
    background:var(--main-color);
    border: none;
}
.section-title > h2 {
    text-align: center;
    font-size: 45px;
    padding-bottom: 5rem;
    padding-left: 1rem;
}
.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px
}
.image-gallery > div > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: 1s transform;
}
.image-gallery > div:hover img{
    transform: rotate(360deg);
}

/* ------------------------- */
/* Recent News Section Style */
#news-recent > .section-title > h2 {
    padding: 2rem 1rem;
}
#news-recent > .section-title > hr {
    margin: 2rem 0;
}
.flexible.recent-news-section > article {
    padding:30px 10px;
    box-shadow: 1px 1px 14px -5px #000000;;
    margin: 0 10px;
    border-radius: 5px;
}
.flexible.recent-news-section > article > a{
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    display: inline-block;
}
.news-info{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 10px;
}
.read-more-comments{
    display: flex;
    justify-content: space-between;
}
.news-info > div > p {
    font-size: 12px;
    color:#BABABA;
}
.news-info > div > i {
    padding-right: 5px;
    color:#BABABA;
}
.news-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px 0;
}
.read-more-comments {
    padding: 1rem 0;
}
.read-more-comments > i {
    cursor: pointer;
    color: #BABABA;
}
.read-more-comments > a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
}

/* ------------------------- */
/* Footer Section Style */
footer {
    text-align: center;
    padding: 5rem 0;
}
footer > img {
    width: 40%;
}
footer > p {
    padding: 1rem 0;
}

/* Footer Social Icon */
.footer-social-icon > a {
    font-size: 20px;
    margin: 0 5px;
    width: 35px;
    padding: 5px;
    line-height: 1.8;
    border-radius: 50%;
    color: #969BAB;
    background: #E7E7E8;
    height: 35px;
    transition: 0.5s;
}
.footer-social-icon > a:hover{
    color: var(--main-color);
}